@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic);

html {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  animation: appear 2s;
}
::selection {
  background: yellow;
}
body {
  font-family: Garamond, serif;
  font-size: 20px;
  margin-top: 30px;
  color: #333;
}
a:link {
  color: blue;
  text-decoration: none;
  transition: .3s;
}
a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
.summary a:hover {
  color: white;
  text-decoration: none;
  background-color: blue;
}
a:active {
  color: blue;
  text-decoration: none;
}
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
h1 {
  display: inline;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  border-bottom: 1px solid blue;
  padding-bottom: 20px;
}
h2 {
  font-family: "Playfair Display" , serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  margin-top: 60px;
  line-height: 2;
  width: 700px;
}
.summary {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid blue;
}
.design-selection li {
  list-style: decimal;
}
li {
  list-style: circle;
}
h2:after {
  content: url(http://hootalex.github.io/csszen/img/blink.gif);
  vertical-align: -15px;
  ;
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  display: inline;
  margin-bottom: 10px;
}
header {
  margin: auto;
}
#zen-supporting, .intro {
  margin: auto;
  width: 570px;
}
p {
  margin-bottom: 20px;
}
.sidebar {
  display: inline-block;
  width: 200px;
  height: 100%;
  padding-left: 30px;
  margin-right: 40px;
  position: absolute;
  top: 20px;
  right: 0;
  margin-top: 615px;
  animation: sideappear 2.5s;
}
.archives, .resources {
  margin-top: 10px;
}
a.design-name {
  display: block;
}
footer {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.designer-name {
  font-style: italic;
}
@keyframes sideappear {
  from {
    opacity: 0;
    margin-top: 700px;
  }
  to {
    opacity: 1;
    margin-top: 615px;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: inherit;
  }
}
.preamble p:nth-of-type(1):first-letter,
.explanation p:nth-of-type(1):first-letter,
.participation p:nth-of-type(1):first-letter,
.benefits p:nth-of-type(1):first-letter,
.requirements p:nth-of-type(1):first-letter
 {
  float: left;
  font-family: Georgia , serif;
  color: #333;
  font-size: 75px;
  line-height: 60px;
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 3px;
  padding: 20px;
  border: 1px solid #333;
}

/* override css for mobile browsers */

@media all and (max-width:1200px) {
  #zen-supporting, .intro {
    margin-left: 40px;
    width: 570px;
  }
}
@media all and (max-width:900px) {
  body {
    font-size: 23px;
  }
  .explanation p:nth-of-type(1):first-letter,
  .participation p:nth-of-type(1):first-letter,
  .benefits p:nth-of-type(1):first-letter,
  .requirements p:nth-of-type(1):first-letter {
    font-family: Garamond, serif;
    font-size: 23px;
    margin-top: 30px;
    color: #333;
    line-height: 1;
    float: none;
    padding: 0;
    margin: 0;
    border: 0;
  }
  a:link {
    color: blue;
    border-bottom: 1px solid blue;
  }
  a:hover {
    color: blue;
    text-decoration: none;
    position: relative;
  }
  #zen-supporting, .intro {
    margin: auto;
    width: 90%;
  }
  .sidebar {
    display: block;
    width: 90%;
    margin: auto;
    position: relative;
    animation: none;
    padding: 0px;
  }
  a.design-name {
    display: inline;
  }
  .design-selection li {
    list-style: none;
  }
  li {
    list-style: none;
  }
  ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h2 {
    line-height: 1;
    width: 100%;
  }
  .zen-resources {
    padding-bottom: 50px;
  }
  footer {
    font-family: Garamond, serif;
    font-size: 23px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  h3 {
    font-size: 23px;
  }
  .summary {
    font-size: 23px;
  }

  .preamble p:nth-of-type(1):first-letter
   {
    float: left;
    font-family: Georgia , serif;
    font-size: 100px;
    line-height: 50px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 3px;
    padding: 20px;
    border: 1px solid #333;
   }
  }

  }
}
